# --------- pytorch --------- #
torch>=1.10.0
torchvision>=0.11.0
pytorch-lightning>=1.5.10
torchmetrics>=0.7.0

# --------- hydra --------- #
hydra-core>=1.1.0
hydra-colorlog>=1.1.0
hydra-optuna-sweeper>=1.1.0

# --------- loggers --------- #
wandb

# --------- linters --------- #
pre-commit      # hooks for applying linters on commit
black           # code formatting
isort           # import sorting
flake8          # code analysis
nbstripout      # remove output from jupyter notebooks

# --------- others --------- #
python-dotenv           # loading env variables from .env file
rich                    # beautiful text formatting in terminal
pytest                  # tests
sh                      # for running bash commands in some tests
pudb                    # debugger
pandas>=1.4.2           # pandas
openpyxl>=3.0.9         # xlsx support
impyute>=0.0.8          # imputation methods
plotly>=5.7.0           # plotting figures
torchmetrics>=0.8.1     # ml metrics
shap==0.39.0            # SHAP values
matplotlib>=3.5.2       # plotting figures
kaleido>=0.2.1          # offline figures

# --------- models --------- #
pytorch-tabnet>=3.1.1       # TabNet
xgboost>=1.6.0              # XGBoost
catboost>=1.0.5             # CatBoost
lightgbm>=3.3.2             # LightGBM
